html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: "Indie Flower", cursive;
}

body {
    background-color: black;
    margin-top: 10%;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
  
.container,
.row,
.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.central-box {
    border-radius: .5rem;
    background-color: white;
    width: 50rem;;
    height: auto;
    padding: 2rem;
}
  
.quote-text {
    color: black;
    font-size: 2.6rem;
    font-weight: bold;
}
  
.quote-author {
    margin-top: 2rem;
    text-align: right;
    font-size: 2rem;;
}

.btn {
    border: 1px solid #5BC0DE;
    border-radius: 3px;
}
  
.btn:hover {
    background-color: #5BC0DE !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
  
.like,
.twitter,
.new-quote {
    font-weight: bold;
    background-color: black;
    color: white;
    height: 3.8rem;
    width: 10rem;
    margin: 4rem 3rem 0 3rem;
} 

footer {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.codepen,
.github,
.facebook {
    font-weight: bold;
    background-color: black;
    color: white;
    height: 3.8rem;
    width: 4.5rem;
    margin: .5rem 1rem 0 1rem;
}